
.order-box {
    width: 30%;
    height: 665px;
    background-color: #fff;
    /* padding: 50px; */
}

.order-top {
    width: 100%;
    height: 35px;
    background-color: #C00A27;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.2px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
}

.order-body {
    width: 100%;
    height: 630px;
    border: 2px solid #d7d7d7;
    border-top: none;
    overflow-y: scroll;
}

.not-selected {
    font-family: 'Roboto', sans-serif; 
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-left: 25px;
}

.prise-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0;
}

.total-prise {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif; 

}

.order-btn-box {
    display: flex;
    align-items: center;
}

.prise-btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
}

.order-btn {
    background-color: #ffae00;
}

.cenel-btn {
    margin-right: 5px;
    background-color: #C00A27;
}

.card-box {
    width: 100%;
    /* height: 565px; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* background-color: burlywood; */
    justify-content: left;
    padding-top: 8px;
}

.order-card {
    width: 29%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0 0;
    box-shadow: 0 5px 14px 1px rgba(0,0,0,0.15);
    margin: 0 0 15px 15px;
}

.oreder-card-img {
    width: 70px;
    margin-bottom: 2px;
}

.order-card-title {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    margin-bottom: 2px;
}

.order-card-prise {
    font-size: 14px;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 2px;
}

.card-delate-button {
    width: 100%;
    padding: 6px 0;
    font-size: 16px;
    border: none;
    background-color: #C00A27;
    color: #fff;
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;
}